:root {
	--blue:	#006bc0;
	--red: #7b0204;
	--purple: lavender;
	--cream: snow;
}
body {
	width: 100%; top:0px; left:0px;
	/*background-color: slategray;*/
	background-image: url("../pics/bgtilemist.png");
	margin: 0;
	}

						/*Text Styles*/
a {
	text-decoration: none;
}
h1 {
	font-family: "cinzel decorative black", "liberation sans", sans;
	font-size: 32pt;
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: -4px -4px 5px white;
	text-align: center;
}
h2 {
	font-family: "liberation sans", sans;
	font-size: 24pt;
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: -1px -2px 2px white;
	text-align: center;
	bottom-margin: 0px;
}
h3 {
	font-family: "liberation sans", sans;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-align: center;
	bottom-margin: 0px;
}
p {	font-family: "liberation sans", sans;
	font-size: 12pt;
	text-decoration: none;
	color: black;
	text-align: center;
}
						/*Top Banner*/
.banner img {
	width: 100%;
	border-bottom: 3px solid var(--red);
}
						/*Contact Us- Join Mailing List*/
hr {
	left: 0;
	right: 0;
	border: 3px solid var(--red);
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
}
.contactus {
	width: 80%;
	left: 10%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 10px;
	padding: 20px 0px 20px 0px;
	margin-bottom: 0px; margin-top: 0px;
}
.emailus {
	width: 50%;
	background-color: snow;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0px 30px 0px 30px;
	border:1px solid black;
	border-radius: 15px;
	box-shadow: 3px 3px 2px silver;
}
.answer {
	margin-top: 30px;
	position: relative; display: flex;
	flex-direction: row;
	justify-content: center;
}
.answer img {width: 200px; height: 200px;}
.answ {
	position:relative;
	display: flex;
	flex-direction: column;
}
.oops { margin-top: 60px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	width: 60%; margin: auto;
	border: 1px solid black;
	box-shadow: 3px 3px 3px gray;
	border-radius: 15px;
}
label {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
#name, #email_address {
	width: 80%;
}
input {
	height: 30px;
	margin: 8px 8px 8px 8px;
	background-color: whitesmoke;
	border-radius: 5px;
	border-shadow: 3px 3px 3px darkgray;
}

.joinlist img {
	width: 20px; height: 20px;
}
form {
	margin: 10px 10px 0px 10px;
	width: 100%;
	background-color: snow;
	border:2px solid black;
	border-radius: 15px;
	box-shadow: 3px 3px 2px silver;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.subbutton {
	width: 50%;
	text-align: left;
	color: white;
	grid-area: sub;
	text-align: center;
	background-color: var(--blue);
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	border-shadow: 3px 3px 3px darkgray;
}

						/*About Us*/
.authorbio {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 70%; margin: auto;
	background-color: lavender;	/*Was cornsilk, skyblue*/
	border-radius: 15px;
	padding: 15px 20px 15px 20px;
	margin-bottom: 20px;
}
.biohead {
	position: relative;
	display: flex;
	flex-direction: row;
}
.biopic {
	display: flex;
	justify-content: left;
	width: 20%;
	margin-right: 5px;
}
.bioname {
	background-image: radial-gradient(lavender, black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.biohead img {
	width: 100%;
	border: 2px solid black;
	border-radius: 20px;
	margin-bottom: 15px;
}
.biohead h2 {font-size: 32pt;
	color: var(--red);
	margin-bottom: 0px;
}
.biohead h3 {font-size: 18pt;
	color: black;
}
.authorbio p {text-align: justify;}
#csoonbackground {background-color: snow;} /* snow, #7a9b9e*/
#csooncolor {background-image: none;}

					


@media screen and (max-width:1023px) {
.contactus {flex-direction: column; align-items: center;}
.emailus {width: 90%; margin: auto; padding: 10px;}
form {width: 90%; margin: auto;}
.fundbox {width: 100%;}
.joinlist {width: 95%}
.biohead {justify-content: center;}
}


@media screen and (max-width:767px) {
h1 {font-size: 24pt;}
h2 {font-size: 20pt;}
.contactus {width:100%; left: 0px;}
.answer {flex-direction: column; align-items: center;}
.authorbio {
	width: 90%;
	padding: 5%;
	justify-content: center;
}
.biohead {
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.fundbox {width: 100%;}
.joinlist {width: 95%}
.biohead {justify-content: center;}
}